@model Instructor

<div class="d-flex">
    <div class="card text-center" style="width:400px; margin: auto">
        <img class="card-img-top" src="/Images/@Model.image" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title text-decoration-none"><a style="cursor: pointer" onclick="getInfo(@Model.id)">@Model.name</a></h4>
            <p class="card-text">@Model.address</p>
            <a href="/Instructor/Index" class="btn btn-primary">Back to home </a>
            <a href="/Instructor/edite/@Model.id" class="btn btn-success">Edit</a>
            <form class="d-inline" method="post" action="/Instructor/delete/@Model.id">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
    </div>
    <div id="insInfo"></div>
</div>
@*<div class="text-center m-auto">
    <partial name="_CartParial" model="Model" class="m-auto"></partial>
</div>*@

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function getInfo(id){
        $.ajax(
                {
                    url: `/Instructor/insInformation/${id}`, 
                    success: function(result){
                        console.log(result);
                        document.getElementById('insInfo').innerHTML = result;
                }
                });
    }
</script>