@model List<Instructor>
<a href="/Instructor/addNewCtr" class="btn btn-success">Add New Instructor</a>
<div class="row mt-3">
@foreach (var ins in Model)
{
    
    @*<partial name="_CartParial" model="ins"></partial>*@

<div class="col-lg-4 text-center">
    <div class="card" style="width:400px">
    <img class="card-img-top" src="/Images/@ins.image" alt="Card image" style="width:100%; height: 450px">
    <div class="card-body">
      <h4 class="card-title">@ins.name</h4>
      <p class="card-text">@ins.address</p>
      @*<a href="/Instructor/details/@ins.id" class="btn btn-primary">See Profile</a>*@
      @*@Html.ActionLink("View Profile","details","Instructor", new{ id = @ins.id }, new {@class="btn btn-primary"})*@
      <a class="btn btn-primary" asp-action="details" asp-controller="Instructor" asp-route-id="@ins.id"> View Profile </a>
    </div>
    </div>
</div>
}
</div>
