@model Instructor

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>@Model.name</td>
        <td>@Model.salary</td>
        <td>@Model.address</td>
    </tr>
</table>
